<!DOCTYPE html>
<html>
<head>
    <title>Simple Chat App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var isTyping = false; // To track user typing status
        var userID = generateUserID(1, 20)

        socket.on('connect', function() {
            console.log('Connected');
        });

        socket.on('message', function(message) {
            var chatBox = document.getElementById('chat-box');
            let data_ = JSON.parse(message)
            console.log(data_)
            if(data_.pred){
                if(data_.values.neg > 0.4 && data_.userID==userID){
                    alert("You are typing negative words")
                    chatBox.innerHTML += '<p style="color:red"> This message wasn\'t sent: ' + data_.msg + '</p>';
                } else {
                    chatBox.innerHTML += '<p>' + data_.msg + '</p>';
                }
            } else {
                chatBox.innerHTML += '<p>' + data_.msg + '</p>';
            }
            
        });

        // Function to handle user typing event
        function handleTyping() {
            let messageInput = document.getElementById('message-input');
            let message = messageInput.value;
            if (!isTyping) {
                isTyping = true;                
                socket.emit('typing', JSON.stringify({msg:message, isTyping:isTyping, userID:userID}));
            }
            clearTimeout(timeout);
            var timeout = setTimeout(function() {
                isTyping = false;
                socket.emit('typing', JSON.stringify({msg:message, isTyping:isTyping, userID:userID}));
            }, 3000);
        }

        socket.on('user_typing', function(typing) {
            var typingStatus = document.getElementById('typing-status');
            let data_ = JSON.parse(typing)
            console.log(data_)
            if(data_.pred){
                if(data_.values.neg > 0.4 && data_.userID==userID){
                    alert("You are typing negative words")
                }
            }
            typingStatus.innerText = data_.isTyping ? 'Someone is typing...' : '';
        });

        function sendMessage() {
            let messageInput = document.getElementById('message-input');
            let message = messageInput.value;
            socket.emit('message', JSON.stringify({msg:message, userID:userID}));
            messageInput.value = '';
        }

        // generate user ID
        function generateUserID(min, max){
            let usID = Math.floor(Math.random() * (max - min + 1)) + min;
            console.log(usID)
            // document.getElementById("#userID").value = usID
            return usID
        }

        
    </script>
</head>
<body>
    <h1>Simple Chat App</h1>
    <div id="chat-box"></div>
    <div id="typing-status"></div>
    <input type="text" id="message-input" placeholder="Type your message..." oninput="handleTyping()">
    <button onclick="sendMessage()">Send</button>
    <input type="hidden" id="userID" />
</body>
</html>
